PORT=4000
FRONTEND_URL=http://localhost:5173

DATABASE_URL=postgres://sve_trainer:changeme@db:5432/sve_trainer

JWT_SECRET=dev-local-secret-change-me
JWT_EXPIRES_IN=7d

AWS_REGION=eu-north-1
AWS_ACCESS_KEY_ID=DEIN_KEY
AWS_SECRET_ACCESS_KEY=DEIN_SECRET

S3_UPLOAD_BUCKET=football-exercises-pdf-027825871321-eu-north-1-an
